---
layout: layouts/category
tags:
  - myCategories
  - nav
eleventyComputed:
  navtitle: "{{ 'hidden' if category.hidden else category.title }}"
pagination:
  alias: category
  data: categories
  size: 1
  addAllPagesToCollections: true
permalink: categories/{{ category.title | slug }}/index.html
---
