---
layout: layouts/category
tags:
  - myCategories
  - nav
pagination:
  alias: category
  data: categories
  size: 1
  addAllPagesToCollections: true
permalink: categories/{{ category.title | slug }}/index.html
---
