---
layout: layouts/staticpage
tags:
  - myStaticPages
  - nav
eleventyComputed:
  navtitle: "{{ 'hidden' if page.hidden else page.title }}"
pagination:
  alias: page
  data: staticpages
  size: 1
  addAllPagesToCollections: true
permalink: "{{ page.slug.current }}/index.html"
---
