{% for item in postslist %}
  {% set post = item.data.post %}
  <h2 class="postlist-title">
    <a href="{{ item.url | url }}" class="postlist-link">
      {% if post.title %}
        {{ post.title }}
      {% else %}
        <code>{{ item.url }}</code>
      {% endif %}
    </a>
  </h2>
  Created: <time class="postlist-date" datetime="{{ post._createdAt }}">{{ post.publishedAt|readableDate }}</time>
  <div class="postlist-item">
    {% if post.mainImage %}
      <img src="{{ post.mainImage.url }}?h=200" alt="{{ post.mainImage.alt }}" />
    {% endif %}
    {% if post.excerpt %}
      <p class="postlist-excerpt">
        {{ post.excerpt }}
      </p>
    {% endif %}
  </div>
{% endfor %}
