---
layout: layouts/base.njk
templateClass: tmpl-category
---
<h1>{{ category.title }}</h1>
<p>{{ category.description }}</p>

{% set postslist = posts | category(category.title) %}
{% include "postslist.njk" %}
