---
layout: layouts/base.njk
templateClass: tmpl-post
---
<article>
  <h1>{{ post.title }}</h1>
  <p>Written by {% for author in post.authors %}<a href="/authors/{{author.slug}}">{{author.name}}</a>{% endfor %}  </p>
  <p>Categories {% for category in post.categories %}<a href="/categories/{{category.slug}}">{{category.name}}</a>{% endfor %}  </p>
  {{ post.body | markdownify | safe }}
  <p><a href="{{ '/' | url }}">← Home</a></p>
</article>
